.popup__button-save {
  color: #fff;
  background-color: #000;
  height: 50px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 45px;
  border: none;
  transition: opacity .4s ease-in;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: .8;
}

@media screen and (max-width: 760px) {
  .popup__button-save {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
