.header__logo {
  background-image: url(../../../images/Header__logo.svg);
  width: 142px;
  height: 33px;
  margin: 0;
  background-size: cover;
}

@media screen and (max-width: 760px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
