.header {
  margin: 45px 15.625% 40px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .header {
    margin: 28px 0 42px;
    padding-left: 27px;
    min-height: 56px;
  }
}
