.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  background-color: transparent;
  border: none;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 760px) {
  .popup__button-close {
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 0;
    top: -38px;
  }
}
