.popup__input-text {
  margin-bottom: 30px;
  height: 27px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input-text:last-of-type {
  margin-bottom: 0;
}

