.profile__info {
  color: #fff;
  display: inherit;
  gap: 16px;
  align-self: center;
  margin-left: 30px;
  margin-right: 18px;
}

@media screen and (max-width: 760px) {
  .profile__info {
    gap: 14;
  }
}

